@import "primeflex/src/_variables.scss";
@import "primeflex/src/_text.scss";
// @import 'primeflex/src/flexbox/_flexbox.scss';
@import 'primeflex/primeflex.css';

::v-deep(.fc-icon-pi) {
  font-family: "PrimeIcons" !important;
  text-indent: 0;
  font-size: 1rem !important;
}
