@import "primeflex/src/_variables.scss";
@import "primeflex/src/_text.scss";

// $textSecondaryColor: #6c757d;
$fc-today-bg-color: #ced4da;

::v-deep(.fc-icon-pi) {
  font-family: "PrimeIcons" !important;
  text-indent: 0;
  font-size: 1rem !important;
}
